<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<%= render 'pages/dashboard/sidenav' %>
<!-- Main content -->
<div class="main-content" id="panel">
  <%= render 'pages/dashboard/topnav' %>
  <%= render 'pages/dashboard/header' %>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-8">
        <%= render 'pages/dashboard/charts/sales' %>
      </div>
      <div class="col-xl-4">
        <%= render 'pages/dashboard/charts/orders' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8">
        <%= render 'pages/dashboard/tables/page_visits' %>
      </div>
      <div class="col-xl-4">
        <%= render 'pages/dashboard/tables/social_traffic' %>
      </div>
    </div>
    <%= render 'pages/dashboard/footer' %>
  </div>
</div>
